#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-content {
}

.content-title {
  display: inline-block;
  position: relative;
}

.content-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 16%;
  height: 3px;
  background-image: linear-gradient(180deg, #61aafb, #6279fe);
  border-radius: 3px;
}

.item-text {
  font-size: 61px;
  font-weight: 300;
  padding: 0 16px;
  background-color: #93dea4;
  border-radius: 50%;
  color: white;
}
