#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-col1 {
  background-color: #75bee1;
  border-radius: 99px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 11px;
  border: none;
}

.btn-col1:hover {
  background-color: #4e9dc2;
}

.btn-col2 {
  background-color: #95d075;
  border-radius: 99px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 18px;
  border: none;
}

.btn-col2:hover {
  background-color: #87d85b;
}

.wrap-row-1 {
  border-bottom: 1px solid #ccc;
}
