#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit-form {
  background-color: #7dcefd;
}

.wrap-content {
  width: 60%;
}

@media (max-width: 992px) {
  .wrap-content {
    width: 100%;
  }
}
