#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-content {
  background-image: url(./img/bai22.png);
  padding-top: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrap-content__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.wrap-content__text {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-content__bottom {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #e14f3a;
}
