@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

#root {
  min-height: 100vh;
}

/* header */
.header {
}

.header-logo {
}

.header-nav {
}

.header-logo__img {
  width: 46px;
  height: 36px;
  object-fit: contain;
}

.header-logo__text {
  font-size: 22px;
}

.header-nav-item {
  font-weight: 500;
}

.header-nav-item__link {
  display: inline-block;
  position: relative;
}

.header-nav-item__link:hover::after {
  width: 100%;
}
.header-nav-item__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  border-radius: 4px;
  background-color: #dd5d05;
  transition: all 0.4s ease-in-out;
}

.header-nav-item .active {
  font-weight: bold;
}

.header-nav-item .active::after {
  width: 100%;
}

.heder-btn__cart {
  background-color: white;
  border: none;
}

.heder-btn__cart:active {
  background-color: white !important;
}

.heder-btn__cart:hover {
  background-color: white;
}

.heder-btn__cart:hover .heder-btn__cart--icon {
  color: rgb(232, 7, 64);
}

.heder-btn__cart--icon {
  font-size: 20px;
  color: #000;
  transition: all 0.2s linear;
}

.heder-btn__cart--badge {
  top: 10px !important;
}

/* main */
.main {
  min-height: 100vh;
}

.main-item {
}

.main-item-card {
  box-shadow: 0px 0px 3px 1px #ccc;
  border: none;
  cursor: pointer;
  position: relative;
}

.main-item-img {
  transition: all 0.3s ease-in-out;
}
.main-item-card:hover .main-item-img {
  transform: scale(0.99);
}
.main-item-card:hover::before {
  transform: scaleX(1);
}

.main-item-card::before {
  position: absolute;
  content: "";
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.375rem;
  border-top: 1px solid rgb(10, 104, 255);
  border-bottom: 1px solid rgb(10, 104, 255);
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.main-item-card:hover::after {
  transform: scaleY(1);
}

.main-item-card::after {
  position: absolute;
  content: "";
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.375rem;
  border-right: 1px solid rgb(10, 104, 255);
  border-left: 1px solid rgb(10, 104, 255);
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
}

.main-item__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-item__price,
.main-item__quantity {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-item__icon--cart {
  font-size: 20px;
  position: absolute;
  z-index: 99;
  bottom: 3%;
  right: 3%;
  padding: 5px 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #62c9f8;
  transition: all 0.2s linear;
}

.main-item__icon--cart:hover {
  background-color: rgb(131, 233, 124);
}
