@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

#root {
  min-height: 100vh;
}

/* header */
.header {
}

.header-logo {
}

.header-nav {
}

.header-logo__img {
  width: 46px;
  height: 36px;
  object-fit: contain;
}

.header-logo__text {
  font-size: 22px;
}

.header-nav-item {
  font-weight: 500;
}

.header-nav-item__link {
  display: inline-block;
  position: relative;
}

.header-nav-item__link:hover::after {
  width: 100%;
}
.header-nav-item__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  border-radius: 4px;
  background-color: #dd5d05;
  transition: all 0.4s ease-in-out;
}

.header-nav-item .active {
  font-weight: bold;
}

.header-nav-item .active::after {
  width: 100%;
}

.heder-btn__cart {
  background-color: white;
  border: none;
}

.heder-btn__cart:active {
  background-color: white !important;
}

.heder-btn__cart:hover {
  background-color: white;
}

.heder-btn__cart:hover .heder-btn__cart--icon {
  color: rgb(232, 7, 64);
}

.heder-btn__cart--icon {
  font-size: 20px;
  color: #000;
  transition: all 0.2s linear;
}

.heder-btn__cart--badge {
  top: 10px !important;
}

/* main */
.main {
  min-height: 100vh;
}

.main-item {
}

.main-item-card {
  box-shadow: 0px 0px 3px 1px #ccc;
  border: none;
  cursor: pointer;
  position: relative;
}

.main-item-img {
  transition: all 0.3s ease-in-out;
}
.main-item-card:hover .main-item-img {
  transform: scale(0.99);
}
.main-item-card:hover::before {
  transform: scaleX(1);
}

.main-item-card::before {
  position: absolute;
  content: "";
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.375rem;
  border-top: 1px solid rgb(10, 104, 255);
  border-bottom: 1px solid rgb(10, 104, 255);
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.main-item-card:hover::after {
  transform: scaleY(1);
}

.main-item-card::after {
  position: absolute;
  content: "";
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.375rem;
  border-right: 1px solid rgb(10, 104, 255);
  border-left: 1px solid rgb(10, 104, 255);
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
}

.main-item__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
  max-height: 40px;
}
.main-item__price {
  color: red;
}
.main-item__price,
.main-item__quantity {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-item__icon--cart {
  font-size: 20px;
  position: absolute;
  z-index: 99;
  bottom: 3%;
  right: 3%;
  padding: 5px 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #62c9f8;
  transition: all 0.2s linear;
}

.main-item__icon--cart:hover {
  background-color: rgb(131, 233, 124);
}

/* cart html */
/* giỏ hàng  */
.main-cart {
}

.main-cart-header {
}

.main-cart-header__text {
  font-size: 16px;
  font-weight: 500;
}

.wrap-content-cart {
}

.content-cart-item {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
  transition: all 0.2s linear;
}
.content-cart-item:hover {
  background-color: rgb(233 239 234);
}

.content-cart-item__img {
  width: 80px;
  object-fit: contain;
}

.content-cart-item__name {
  font-size: 18px;
  padding-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.content-cart-item__quantity {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-cart-item--info {
  max-width: 80%;
}

.content-cart-item__btn-remove {
  font-size: 19px;
  font-weight: 500;
  padding: 10px 16px;
  transition: all 0.1s linear;
  -webkit-tap-highlight-color: transparent;
}

.content-cart-item__btn-remove:hover {
  cursor: pointer;
  color: red;
}

.content-cart-item__btn-add {
  font-size: 19px;
  font-weight: 500;
  padding: 10px 16px;
  transition: all 0.1s linear;
  -webkit-tap-highlight-color: transparent;
}
.content-cart-item__btn-add:hover {
  cursor: pointer;
  color: rgb(7, 190, 29);
}

.content-cart-item__btn-quantity {
  font-size: 19px;
  font-weight: 400;
  padding: 10px 16px;
}

.content-cart-item__one-shoe {
  max-width: 162px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.content-cart-item__all-price-shoe {
  max-width: 162px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: red;
  word-break: break-all;
}

.content-cart-item__btn-clear {
  font-size: 21px;
  transition: all 0.1s linear;
  position: relative;
}

.content-cart-item__btn-clear:hover {
  cursor: pointer;
  color: red;
}
.popup-delete-cart {
  position: absolute;
  left: -6%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f1e6e6;
  width: 200px;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
}

.popup-delete-cart__btn {
  font-size: 14px;
}

.popup-delete-cart__text {
  font-size: 14px;
}

.footer-priceAll-shoe {
  color: red;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-btn-buyShoe {
}

.alert-message-add-cart,
.alert-message-add-error-cart {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.alert-message-add-cart__icon-close,
.alert-message-add-error-cart__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 6px;
  font-size: 18px;
  color: #000;
  transition: all 0.1s linear;
}

.alert-message-add-cart__icon-close:hover {
  cursor: pointer;
  color: red;
}

.alert-message-add-error-cart__icon-close:hover {
  cursor: pointer;
  color: red;
}

/* wrap-modal-buy-shoe */
.wrap-modal-buy-shoe .modal-dialog {
  max-width: 650px;
}

.modal-label-text {
  color: red;
}

/* họ tên */

.wrap-input-modal {
  position: relative;
  margin-bottom: 20px;
}

.modal-input-error {
  border-color: red;
}
.modal-input-error:focus {
  border-color: red;
  box-shadow: 0 0 0 0.25rem rgba(234, 65, 65, 0.25);
}

.wrap-input-modal-ten {
}
.input-modal-message {
  position: absolute;
  left: 0;
  bottom: -21px;
  color: red;
  font-size: 14px;
}

.modal-input-item {
}

/* địa chỉ */
.wrap-modal-input-address {
}

.wrap-input-select-thanhpho {
  position: relative;
  margin-bottom: 20px;
}
.input-select-thanhpho {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.waring-message-address {
  position: absolute;
  left: 0;
  bottom: -6px;
  color: red;
  font-size: 14px;
}

/* wrap-all-order */
.wrap-all-order {
}

.all-order-item {
  margin: 13px 0;
  padding: 13px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.all-order-item__col1 {
}

.all-order-item__col1--details {
  color: rgb(10, 104, 255);
  font-weight: 500;
  gap: 2px;
  cursor: pointer;
}

.all-order-item__col1--details:hover {
  opacity: 0.8;
}

.all-order-item__col6 {
  color: red;
  font-weight: 500;
  padding-left: 10px;
}
.all-order-item__col6:hover {
  cursor: pointer;
  opacity: 0.8;
}
.all-order-item__col6 i {
  margin-left: 16px;
}

.wrap-listShoe-Order {
  margin: 16px 0;
  padding: 10px;
  border: 1px dashed #1171d7;
  border-radius: 3px;
}
.wrap-listShoe-Order img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.wrap-listShoe-Order h6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
