#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-title {
  padding: 9px 24.2px;
  background-color: #d997de;
  color: white;
  border-radius: 4px;
}
.content-title h1 {
  font-size: 60px;
  font-weight: 340;
}

.main {
  width: 75%;
}
.wrap-content {
  border-bottom: 1px dashed red;
  padding: 20px 0;
}

.wrap-content:last-child {
  border-bottom: unset;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}
